.app-header {
  &__main {
    position: relative;
    background-color: mat-color($adminconsole-primary, 700);
    color: mat-contrast($adminconsole-primary,700);
    & > .container {
      box-sizing: content-box!important;
    }
  }
  &__sub {
    background-color: mat-color($adminconsole-primary, 500);
    color: mat-contrast($adminconsole-primary,700);
  }
  &__avatar {
    &-wrapper {
      height: 3rem;
      img {
        height: 100%;
      }
    }
    &__logo {
      height: 100%;
      margin-right: 1rem;
    }
  }
  &__title {
    margin: 0;
  }
  &__subtitle {
    margin: 0;;
  }
  mat-toolbar-row {
    padding: 0;
  }
}
